
.div_left {
    width: 660px;
    display: inline-block;
    margin-right: -8px;
}

.div_right {
    width: 351px;
    float: right;
}

#new_anime_btns {
    margin-bottom: -8px;
}

.new_anime_btn {
    box-sizing: border-box;
    width: 45px;
    padding: 6px 2px 8px 2px;
    margin: 0px -2px 7px 0px;
    display: inline-block;
    text-align: center;
    cursor: pointer;

    font-size: 1em;
    border-left: 1px solid transparent;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background-color: transparent;

    color: #888899;
}

.new_anime_btn:hover, .new_anime_btn:active {
    border-left: 1px solid #404041;
    border-top: 1px solid #404041;
    border-right: 1px solid #404041;
    background-color: #282828;
    color: #ffffff;
}

.new_anime_btn_current {
    border-left: 1px solid #404041;
    border-top: 1px solid #404041;
    border-right: 1px solid #404041;
    background-color: #282828;
    color: #ffffff;
}

#new_anime_page {
    font-size: 14.5px;
    background-color: #282828;
    border: 1px solid #404041;
    border-radius: 2px;
    padding: 6px 2px 6px 6px;
}

.one_new_anime {
    padding: 3px 0px 3px 0px;
    width: 100%;
    line-height: 1.40em;
}

.one_new_anime_name {
    width: 156px;
    line-height: 1.40em;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-decoration-color: #bbbbbc;
}

.one_new_anime_ji {
    width: 108px;
    line-height: 1.40em;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #60b8cc;
    text-decoration-color: #4a94a3;
    margin-left: 8px;
}

.one_anime_new {
    font-size: 0.9em;
    color: #fe0101;
    line-height: 1.40em;
    display: inline-block;
    overflow: hidden;
}

#anime_update {
    font-size: 14.5px;
    background-color: #282828;
    border: 1px solid #404041;
    border-radius: 2px;
    padding: 6px 2px 6px 6px;
}

#comment_update {
    background-color: #282828;
    border: 1px solid #404041;
    border-radius: 2px;
    padding: 6px 2px 6px 6px;
}

.anime_update_date {
    display: inline-block;
    overflow: hidden;
    margin-left: 8px;
    color: #60b8cc;
}


@media only screen and (min-width: 0em) and (max-width: 40em) {

    /* -- */
    .div_right {
        width: 100%;
    }

    .div_left {
        width: 100%;
    }

    .div_right .blockTitle:nth-child(4) {
        display: none;
    }

    .div_right .hrspace:nth-child(3) {
        display: none;
    }

    .div_right .hrspace:nth-child(3) {
        display: none;
    }

    .div_right .blockContent:nth-child(5) {
        display: none;
    }

    .div_left .blockContent ul li:nth-child(n+10) {
        display: none;
    }

    .anime_icon1 {
        width: 30.8% !important;
        margin: 0.6% !important;
        position: relative;
    }

    .anime_icon1 .anime_icon1_img {
        width: 100%;
        height: auto;
        border-radius: 1px;
    }

    .anime_icon1 .anime_icon1_name {
        width: 100%;
    }

    .one_anime_new {
        float: right;
    }

    .one_new_anime_ji {
        float: right;
    }

    #new_anime_btns li {
        width: 13.4%;
    }

    .div_right .blockTitle {
        display: none;
    }
}

